:root {
    --default: #072AC8;
    --accent: #43D2FF;
    --hover: #A2D6F9;
    --tapped: #D1EDFF;

    --dark: #292E47;
    --medium: #6B708D;
    --light: #F2F4FC;
    --light-blue: #ECF7FF;

    --secondary: #FFC600;

    --input-contact-form:#6B708D10;

    --anchors-hover: #6B708D33;
} 