:host {
    --blue: #072AC8;
    --sky: #43D2FF;
    --light-blue: #A2D6F9;
    --ice: #D1EDFF;

    --black: #292E47;
    --dark-grey: #6B708D;
    --cloud: #F2F4FC;
    --air: #ECF7FF;

    --sun: #FFC600
}