:root {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 15px;

    /* heading text */
    --font-size-h1: 4rem;
    --font-size-h2: 3.33rem;
    --font-size-h3: 2.67rem;
    --font-size-h4: 1.6rem;
    --font-weight-heading: bold;

    
    /* body intro text */
    --font-size-body-intro-medium: 1.6rem;
    --font-weight-body-intro-medium: medium;
    --font-size-body-intro-regular: 1.33rem;
    --font-weight-body-intro-regular: regular;


     /* headline text */
    --font-size-headline-regular: 1.13rem ;
    --font-weight-headline-regular: regular;
    --font-size-headline-medium: 1.13rem;
    --font-weight-headline-medium: medium;


    /* caption text */
    --font-size-caption1-regular: 1rem;
    --font-weight-caption1-regular: regular;
    --font-size-caption2-regular: 0.86rem;
    --font-weight-caption2-regular: regular;
}


h1, h2, h3, h4 {
    font-weight: var(--font-weight-heading);
}


h1 {
    font-size: var(--font-size-h1);
}


h2 {
    font-size: var(--font-size-h2);
}


h3 {
    font-size: var(--font-size-h3);
}


h4 {
    font-size: var(--font-size-h4);
  
}


/* body text */ 
.body.intro.medium {
    font-size: var(--font-size-body-intro-mediumbody-intro-medium);
    font-weight: var(--font-weight-body-intro-medium);
}

.body.intro.regular {
    font-size: var(--font-size-body-intro-regular);
    font-weight: var(--font-weight-body-intro-regular);
}


/* headline text */
.headline.regular {
    font-size: var(--font-size-headline-regular);
    font-weight: var(--font-weight-headline-regular);
}

.headline.medium {
    font-size: var(--font-size-headline-medium);
    font-weight: var(--font-weight-headline-medium);
}


/* caption text */
.caption1 {
    font-size: var(--font-size-caption1-regular)
    font-weight: var(--font-weight-caption1-regular);
}

.caption2 {
    font-size: var(--font-size-caption2-regular);
    font-weight: var(--font-weight-caption2-regular);
}