@import url('./_colors.css');
@import url('./_fonts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    width: 100%;
    min-width: 320px;
    background-color: var(--light);
    /* overflow-x: hidden; */
}

a {
    text-decoration: none;
    color: var(--medium);
    
   
}

footer, .navbar-tablet-desktop {

    li a {
    background-color: var(--light);
    padding: 0.3rem 1rem;
    border-radius: 15px;

        &:hover {
            background-color: var(--anchors-hover);
            transition: all 0.6s ease-in-out
        }
    }
}

.contact-us-link, .get-in-touch-link, .subscribe, .textfield {

    &:hover {
        border-radius: 20px;
        transition: all ease-in-out 0.2s;
    }
}


.client-logo {

    &:hover {
        transform: scale(1.3);
        transition: all 0.3s ease-in-out
    }
}

.service-card, .project-card {

    &:hover {
        -webkit-box-shadow: 15px 20px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 15px 20px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 15px 20px 5px 0px rgba(0,0,0,0.75);

        transform: translateY(-10px);
        transition: all ease-in-out 0.4s;

    }
}



@keyframes rotate-service-img {
    0% {
        transform: rotate(0deg);   
    }

    50% {
        transform: rotate(30deg);   
    }

    100% {
        transform: rotate(0deg);   
    }
}

.service-img {
    animation: rotate-service-img 1s infinite;
}


@keyframes flip-mail-icon {
    0% {
        transform: rotateY(0deg);   
    }

    50% {
        transform: rotateY(180deg);   
    }

    100% {
        transform: rotateY(0deg);   
    }
}

.mail-icon {
    animation: flip-mail-icon 2s infinite;
}

 .memoji-icon {
    animation: flip-mail-icon 4s infinite;
}
/* @keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

.testimonial-portrait {
animation: bounce2 2s ease infinite;
} */

@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}


/* @keyframes gelatine {
from, to { transform: scale(1, 1); }
25% { transform: scale(0.9, 1.1); }
50% { transform: scale(1.1, 0.9); }
75% { transform: scale(0.95, 1.05); }
}

.memoji-icon {
animation: gelatine 0.5s infinite;
} */