@import url('./_colors.css');
@import url('./_fonts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    width: 100%;
    min-width: 320px;
    background-color: var(--light);
    /* overflow-x: hidden; */
}