@import url('./_colors.css');
@import url('./_fonts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
}

body {
    background-color: var(--light);
}




    








